/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1750px) {
	.header,
	.billbord {
		padding-left: 100px;
	}
}

@media only screen and (max-width : 1650px) {
	.header,
	.billbord {
		padding-left: 240px;
	}
    .billbord .descr-big {
       margin-bottom: 80px;
   }
   .descr-big {
    font-size: 20px;
    line-height: 30px;
}
.title-big {
    font-size: 42px;
    line-height: 61px;
    padding-bottom: 30px;
}
.item-room__price {
    margin-top: 45px;
}
.table-prices tr:nth-child(2) th {
    font-size: 12px;
    line-height: 17px;
}
.table-prices td, .table-prices th {
    padding: 10px 8px;
}
.table-prices table {
    font-size: 14px;
    line-height: 20px;
}
.table-prices td:nth-child(2) {
    width: 267px;
}
}
@media only screen and (max-width : 1580px) {
	body {
		font-size: 15px;
	}
    .container {
        max-width: 1100px;
    }
    .slider-gallery {
        margin-right: calc((100vw - 1305px) / 2* -1);
    }
    .col-btn .btn-main {
        width: 205px;
    }
    .item-gallery {
        width: 1000px;
        margin-right: 45px;
    }
    .item-gallery__image {
        width: 520px;
        height: 365px;
        margin: 30px;
        margin-left: 0;
    }
    .item-gallery__image::before {
    	top: -30px;
    	right: -30px;
    	bottom: -30px;
    }
    .item-gallery__content {
        margin-left: 50px;
    }
    .title-block {
        font-size: 26px;
        line-height: 37px;
        padding-bottom: 45px;
        margin-bottom: 25px;
    }
    .slider-gallery .slick-next {
        left: 555px;
    }
    .tabs a {
        font-size: 17px;
        line-height: 24px;
    }
    .tabs li {
        padding: 0 10px;
    }
    .tabs {
       margin: 0 -10px;
   }
   .descr-section {
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 30px;
}
.title-section {
    font-size: 31px;
    line-height: 46px;
}
.menu {
	max-height: initial;
}
.sidebar .btn-main {
	margin: 30px auto;
}
.menu a {
    font-size: 17px;
    line-height: 25px;
}
.slide-photo {
    height: 230px;
    margin-bottom: 18px;
}
.item-room__wrapper {
    height: 210px;
}
.title-room {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 15px;
}
.item-room__value span, .item-room__price span {
    font-size: 18px;
    line-height: 26px;
}
.get-price {
    padding-top: 70px;
}
.list-page {
    font-size: 18px;
    line-height: 26px;
}
.get-price .list-page {
    max-width: 456px;
    margin-bottom: 25px;
}
.get-price .title-section {
    font-size: 29px;
    line-height: 48px;
    margin-bottom: 25px;
}
.form-price {
    padding: 39px 55px;
    padding-bottom: 50px;
}
.image-form img {
	max-width: 530px;
}
.image-form {
    top: -380px;
    right: -126px;
}
.item-location {
   font-size: 16px;
}
.locations-block {
    width: 305px;
    padding: 0 11px;
    padding-top: 60px;
}
.footer-contacts {
    font-size: 13px;
    line-height: 19px;
}
.slider-gallery .slick-next {
    left: 525px;
}
.item-room__left {
    width: 305px;
}
.footer-contacts__bottom .list-social {
    margin-left: 40px;
}
.value-contacts {
    font-size: 22px;
    line-height: 35px;
}
.form-contacts {
    padding: 21px 55px;
    padding-bottom: 33px;
}
.image-about {
    margin-left: 50px;
}
.content-about:nth-child(even) .image-about, .section-about_bottom .image-about {
    margin-right: 50px;
}
.section-about_bottom .content-about:nth-child(2) .image-about, .section-about_bottom .content-about:nth-child(1) .image-about {
    margin-left: 50px;
}
.section-about .title-section {
    font-size: 29px;
    line-height: 43px;
    margin-bottom: 30px;
}
.descr-medium {
    font-size: 16px;
    line-height: 26px;
}
.billbord_about .wrapper-billbord {
    max-width: 650px;
}
.section-about_bottom .content-about:nth-child(2) .image-about {
    width: 610px;
}
.section-about {
    line-height: 24px;
}
.item-news__title {
    font-size: 21px;
    line-height: 35px;
    padding: 13px;
}
.item-news {
    height: 305px;
    margin-bottom: 30px;
}
.article-content {
    line-height: 24px;
    padding-right: 35px;
}
.article blockquote {
    padding: 25px 45px;
    line-height: 25px;
}
.article-content p, 
.article-content li {
    margin-bottom: 20px;
}
.billbord-article {
    height: 365px;
}
}

@media only screen and (max-width : 1350px) {
    body {
        font-size: 14px;
        line-height: 20px;
    }
    .container {
        max-width: 960px;
    }
    .booking-block {
        padding: 25px 20px;
        padding-bottom: 30px;
    }
    .item-form .jq-selectbox__select-text, 
    .item-form input, 
    .item-form textarea {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-price .row,
    .booking-block .row {
        margin: 0 -7px;
    }
    .form-price .row > div,
    .booking-block .row > div {
        padding: 0 7px;
    }
    .col-btn .btn-main {
        width: 190px;
    }
    .billbord .descr-big {
        margin-bottom: 45px;
    }
    .title-big {
        font-size: 35px;
        line-height: 52px;
        padding-bottom: 22px;
    }
    .header {
        font-size: 13px;
        line-height: 19px;
    }
    .socials-block {
        padding: 7px 22px;
        padding-right: 17px;
    }
    .header__contact a {
        font-size: 14px;
    }
    .descr-big {
        font-size: 18px;
        line-height: 28px;
    }
    .booking .descr-big {
        padding-bottom: 25px;
        padding-top: 0;
    }
    .booking {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .slider-gallery {
        margin-right: calc((100vw - 1171px) / 2* -1);
    }
    .item-gallery {
        width: 850px;
        margin-right: 25px;
    }
    .item-gallery__image {
        width: 480px;
        height: 320px;
    }
    .item-gallery__content {
        margin-left: 25px;
    }
    .title-block {
        font-size: 23px;
        line-height: 35px;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }
    .title-text {
        font-size: 23px;
        line-height: 34px;
    }
    .form-price {
        padding: 30px 25px;
        padding-bottom: 40px;
    }
    .logo-footer {
        font-size: 13px;
        line-height: 16px;
    }
    .logo-footer img {
        max-width: 77px;
        margin-right: 12px;
    }
    .footer-contacts__item a {
        font-size: 14px;
    }
    .footer-contacts {
        margin-left: -50px;
    }
    .footer-bottom {
        font-size: 13px;
        line-height: 19px;
    }
    .billbord .descr-big {
        max-width: 570px;
    }
    .slider-gallery .slick-next {
        left: 490px;
    }
    .item-room__left {
        width: 290px;
    }
    .table-prices table {
        font-size: 13px;
        line-height: 18px;
    }
    .table-prices tr:nth-child(2) th {
        font-size: 11px;
        line-height: 15px;
    }
    .table-prices td:nth-child(2) {
        width: 225px;
    }
    .table-prices td:first-child {
        font-size: 13px;
    }
    .value-contacts {
        font-size: 20px;
        line-height: 32px;
    }
    .form-contacts {
        padding: 21px 35px;
        padding-bottom: 33px;
    }
    .section-about {
        line-height: 22px;
    }
    .section-about .title-section {
        font-size: 27px;
        line-height: 35px;
        margin-bottom: 25px;
    }
    .phone-main {
        font-size: 17px;
        line-height: 26px;
    }
    .image-about {
        margin-left: 30px;
    }
    .content-about:nth-child(even) .image-about, .section-about_bottom .image-about {
        margin-right: 30px;
    }
    .section-about_bottom .content-about:nth-child(2) .image-about, .section-about_bottom .content-about:nth-child(1) .image-about {
        margin-left: 30px;
    }
    .image-about img {
        max-width: 100%;
    }
    .image-about {
        max-width: 60%;
    }
    .item-news {
        height: 270px;
    }
    .item-news__title {
        font-size: 18px;
        line-height: 28px;
        padding: 11px;
    }
    .item-news__date {
        font-size: 13px;
        padding: 6px 10px;
    }
    .page-numbers {
        font-size: 16px;
        line-height: 30px;
    }
    .prev.page-numbers img,
    .next.page-numbers img {
        max-width: 120px;
        height: auto;
    }   
    .billbord-article {
        height: 320px;
    }
    .billbord-article h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .article-content {
        line-height: 22px;
        padding-right: 10px;
    }
    .article blockquote {
        padding: 22px 35px;
        line-height: 22px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .sidebar {
        width: 180px;
    }
    .container {
        max-width: 810px;
    }
    .menu {
        padding-left: 34px;
    }
    .wrapper-page {
        padding-left: 180px;
    }
    .wrapper-page::before {
        width: 180px;
    }
    .header, .billbord {
        padding-left: 180px;
    }
    .title-big {
        font-size: 31px;
        line-height: 48px;
    }
    .slider-gallery {
        margin-right: calc((100vw - 960px) / 2* -1);
        padding-bottom: 40px;
    }
    .item-gallery {
        width: 770px;
    }
    .title-block {
        font-size: 20px;
        line-height: 30px;
    }
    .col-btn {
        width: 100%;
        text-align: center;
    }
    .col-btn .btn-main {
        width: 240px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .gallery {
        padding-top: 55px;
        padding-bottom: 40px;
    }
    .title-section {
        font-size: 25px;
        line-height: 36px;
    }
    .descr-section {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 20px;
    }
    .title-section span::after, .title-section span::before {
        width: 14px;
        height: 14px;
    }
    .tabs a {
        font-size: 14px;
        line-height: 21px;
        height: 45px;
    }
    .about {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .slide-photo {
        height: 195px;
    }
    .title-text {
        font-size: 21px;
        line-height: 25px;
    }
    .checkbox {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .footer-contacts {
        margin-left: -34px;
    }
    .footer-contacts br {
        display: none;
    }
    .footer-contacts__item a {
        font-size: 13px;
    }
    .footer-contacts__bottom .list-social {
        margin-left: 20px;
    }
    .sidebar .btn-main {
        padding: 0 25px;
    }
    .sidebar__bottom {
        padding: 0 20px;
    }
    .hidden-mob {
        display: none !important;
    }
    .content-billbord {
        min-height: 600px;
    }
    .item-room__left {
        width: 260px;
    }
    .value-contacts {
        font-size: 16px;
        line-height: 28px;
    }
    .form-contacts {
        padding: 21px 25px;
        padding-bottom: 33px;
    }
    #map {
        height: 400px;
    }
    .page-contacts {
        padding-bottom: 40px;
    }
    .section-about {
        line-height: 20px;
    }
    .image-about {
        max-width: 45%;
    }
    .section-about_bottom .content-about:nth-child(2) {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .article-content p,
    .article-content li {
        margin-bottom: 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sidebar {
        display: none;
    }
    .header, .billbord {
        padding-left: 0;
    }
    .wrapper-page::before {
        display: none;
    }
    .wrapper-page {
        padding-left: 0;
    }
    .slider-photos {
        margin-top: 20px;
    }
    .menu-footer {
        margin: 0;
    }
    .logo-footer {
        margin-bottom: 20px;
    }
    .footer-contacts {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        padding-top: 20px;
    }
    .footer-contacts br {
        display: block;
    }
    .footer-contacts__flex {
        margin: 20px 0;
        max-width: 260px;
    }
    .footer-bottom {
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom .row > div {
        padding: 5px 15px;
    }
    .create {
        justify-content: center;
    }
    .btn_top {
        float: none;
    }
    .header__wrapper .socials-block,
    .header__wrapper .header__contact,
    .header__wrapper .header__item {
        display: none;
    }
    .header {
        transition: all 0.3s;
    }
    .header.active,
    .header.fixed {
       background: #3F576E; 
   }
   .logo-main {
    font-size: 13px;
    line-height: 16px;
    color: #F5F5F5;
    font-weight: 500;
    letter-spacing: 0.03em;
    display: inline-flex;
    align-items: center;
}
.logo-main img {
    width: 50px;
    height: auto;
}
.logo-main span {
    max-width: 163px;
    margin-left: 15px;
}
.header {
    padding: 10px 0;
    position: fixed;
    z-index: 1000;
}
.content-billbord {
    padding-top: 76px;
}
.sandwich {
    display: flex;
}
.phone-mobile {
    font-size: 22px;
    margin-left: auto;
    margin-right: 30px;
    color: #D6C19C;
    display: inline-block;
}
.header {
    font-size: 14px;
    line-height: 20px;
}
.menu-mobile {
  width: 100%;
  top: 100%;
  left: 0;
  height: 100vh;
  padding: 15px 15px;
  padding-bottom: 120px;
  display: none;
  overflow: auto;
  background-color: #3F576E;
  position: absolute;
}
.menu a {
  margin: 0;
  padding: 15px 10px;
  padding-left: 20px;
  display: block;
  position: relative;
  border-bottom: 1px solid #807F7D;
}
.menu a::before {
    margin: 0;
    right: auto;
    left: 0;
    top: 17px;
}
.menu-mobile .menu {
    padding: 0;
    display: block;
    min-height: initial;
    margin: 0;
    margin-bottom: 15px;
}
.header__contact,
.header__item {
    margin-bottom: 15px;
}
.socials-block {
    display: inline-flex;
}
.menu-mobile .socials-block {
    margin-bottom: 15px;
}
.menu-mobile .btn-main {
    width: 220px;
}
.locations-block::before {
    max-width: 320px;
    margin: 0 auto;
}
.mobile-contacts {
    padding-bottom: 8px;
    display: flex;
}
.mobile-contacts .header__contact {
    margin-left: 25px;
}
.mobile-contacts .header__contact:first-child {
    margin-left: 0;
}
.table-prices {
    overflow: auto;
    margin-right: -15px;
}
.table-prices table {
    width: 1000px;
}
.page-contacts .title-section {
    padding-bottom: 15px;
}
.row_contacts > div {
    padding-bottom: 15px;
}
.form-contacts {
    margin-top: 20px;
}
.col_btn {
    justify-content: center;
}
.form-contacts .checkbox {
    margin-top: 20px;
}
.form-contacts .btn-main {
    margin-top: 0;
}
.article blockquote:last-of-type {
    margin-bottom: 0;
}
.article-right img,
.article blockquote {
    margin-bottom: 25px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .content-billbord {
        padding-top: 75px;
        padding-bottom: 70px;
        height: auto;
        min-height: initial;
    }
    .wrapper-billbord {
        display: block;
    }
    .title-big {
        font-size: 23px;
        line-height: 37px;
    }
    .descr-big {
        font-size: 14px;
        line-height: 23px;
    }
    .billbord .descr-big {
        margin-bottom: 35px;
        max-width: 405px;
    }
    .btn-video {
        display: none;
    }
    .item-form {
        margin-bottom: 15px;
    }
    .slider-gallery {
        padding-bottom: 50px;
        margin: 0;
    }
    .item-gallery {
        width: 100%;
        margin: 0;
        display: block;
    }
    .item-gallery__icon {
        margin-bottom: 20px;
    }
    .item-gallery__content {
        margin: 0;
        padding-top: 20px;
    }
    .slider-gallery .slick-next {
        left: auto;
        right: 0;
    }
    .item-gallery__image {
        width: 100%;
        height: 300px;
        margin: 0;
    }
    .item-gallery__image::before {
        display: none;
    }
    .tabs {
        white-space: nowrap;
        margin-right: -15px;
        overflow: auto;
        padding-bottom: 15px;
    }
    .tabs::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .tabs::-webkit-scrollbar:vertical {
        width: 3px;
    }
    .tabs::-webkit-scrollbar:horizontal {
        height: 3px;
    }
    .tabs::-webkit-scrollbar-thumb {
        background-color: #3F576E;
        border-radius: 10px;
    }
    .tabs::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #D8CDAF;
    }
    .tabs a {
        padding: 0 17px;
    }
    .text-page {
        padding-top: 15px;
    }
    .slide-photo {
        margin-bottom: 12px;
    }
    .title-text {
        font-size: 19px;
        line-height: 23px;
    }
    .about {
        padding-bottom: 35px;
    }
    .item-room__wrapper {
        padding: 35px 0;
        display: block;
        height: auto;
    }
    .item-room__value {
        display: block;
    }
    .arrow-link {
        position: absolute;
        right: 15px;
        top: 50%;
    }
    .item-room__value span, .item-room__price span {
        font-size: 16px;
        line-height: 24px;
        margin-left: 0;
        display: block;
    }
    .item-room__value {
        margin-bottom: 10px;
    }
    .image-form {
        display: none;
    }
    .locations .title-section {
        padding-bottom: 20px;
    }
    .locations {
        padding-top: 75px;
    }
    .locations-block {
        width: initial;
        margin: 0 -15px;
        height: 530px;
        position: relative;
        top: 0;
        left: 0;
    }
    .map-main {
        height: 350px;
    }
    .invitation__top {
        padding-bottom: 34px;
    }
    .get-price .title-section {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .get-price .list-page {
        margin-bottom: 0;
    }
    .get-price {
        padding-top: 40px;
    }
    .map-iframe, .map-iframe iframe {
        height: 350px;
    }
    .item-room__left {
        width: 100%;
    }
    .billbord {
        padding-top: 40px;
    }
    .get-price .title-section strong {
        display: initial;
    }
    .content-about {
        display: block;
    }
    .image-about {
        max-width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 15px;
    }
    .section-about {
        padding: 35px 0;
    }
    .section-about_entertainment .content-about {
        margin-bottom: 30px;
    }
    .section-about .title-section {
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 17px;
    }
    .descr-medium {
        font-size: 14px;
        line-height: 22px;
    }
    .billbord_about .title-big::after {
        width: 205px;
        height: 6px;
    }
    .billbord_about .title-big {
        margin-bottom: 20px;
    }
    .section-about_terrain {
        padding-top: 0;
    }
    .page-news {
        padding: 35px 0;
    }
    .prev.page-numbers img, 
    .next.page-numbers img {
        max-width: 80px;
    }
    .pager {
        margin-top: 5px;
    }
    .breadcrumbs li::after {
        margin: 0 10px;
    }
    .billbord-article {
        height: 280px;
        margin: 0 -15px;
        margin-bottom: 25px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .title-big {
        font-size: 21px;
        line-height: 35px;
    }
    .gallery {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .item-gallery__image {
        height: 260px;
    }
    .item-gallery__icon {
        width: 33px;
        height: 33px;
    }
    .slide-photo {
        height: 170px;
    }
    .get-price .title-section {
        font-size: 22px;
        line-height: 35px;
    }
    .list-page {
        font-size: 16px;
        line-height: 22px;
    }
    .page-prices .title-section {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 15px;
    }
    .form-contacts .title-section {
        text-align: center;
    }
    #map {
        height: 350px;
    }
    .section-about_terrain .image-terrain {
        margin-top: 20px;
    }
    .section-about .title-section {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 15px;
    }
    .text-about .phone-main {
        display: block;
    }
    .content-about .list-social {
        margin: 0;
        margin-top: 10px;
    }
    .section-about_bottom br + br {
        display: none;
    }
    .item-news {
        height: 240px;
    }
    .item-news__content::after {
        width: 45px;
        height: 13px;
        right: 10px;
        bottom: 17px;
    }
    .item-news__title {
        font-size: 16px;
        line-height: 24px;
        padding: 3px;
    }
    .item-news__content {
        padding-right: 56px;
    }
    .breadcrumbs li::after {
        margin: 0 7px;
    }
    .breadcrumbs {
        padding-top: 12px;
        padding-bottom: 13px;
        font-size: 13px;
        line-height: 19px;
    }
    .billbord-article h1 {
        font-size: 28px;
    }
    .article blockquote {
        padding: 22px 25px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .menu-mobile {
        display: none !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1230px;
	}
}